body{
    font-family: 'Montserrat';
    background-color: #fddbcb1c;
    background-image: url("../public/background.png");
    background-size: 1920px 750px;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
